<div class="container" *ngIf="login && !success">
  <mat-toolbar color="primary" class="mb-4">
      <mat-toolbar-row>
        <span>Carga Inicial</span>
      </mat-toolbar-row>
  </mat-toolbar>

  <div class="row">
    <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select required [(value)]="type">
          <mat-option value="opportunity">Oportunidad</mat-option>
          <mat-option value="lead">Prospecto</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Vendedor" [value]="vendedor" required>
    </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Equipo de Ventas</mat-label>
          <mat-select required [(value)]="team">
            <mat-option *ngFor="let equipo of equipos" [value]="equipo.value">
              {{equipo.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Grupo</mat-label>
          <mat-select required [(value)]="group">
            <mat-option *ngFor="let grupo of grupos" [value]="grupo.value">
              {{grupo.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre de la Oportunidad" #name value="" required>
    </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Campaña</mat-label>
          <mat-select required [(value)]="campan">
            <mat-option *ngFor="let campana of campanas" [value]="campana.value">
              {{campana.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Medio</mat-label>
          <mat-select required [(value)]="media">
            <mat-option *ngFor="let medio of medios" [value]="medio.value">
              {{medio.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Origen</mat-label>
          <mat-select required [(value)]="origin">
            <mat-option *ngFor="let origen of origenes" [value]="origen.value">
              {{origen.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <input matInput placeholder="Nombre del Contacto" #contact value="" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Email" #email value="" required>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <input matInput placeholder="Celular" #mobile value="" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Teléfono" #phone value="" required>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Tipo de Oportunidad</mat-label>
          <mat-select required [(value)]="typeOpp">
            <mat-option value="unifamiliar">Unifamiliar</mat-option>
            <mat-option value="multifamiliar">Multifamiliar</mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row mt-4">
      <div class="col-4">
        <h6>Volumen de obra</h6>
        <p><mat-checkbox [(ngModel)]="depLess50">-50 Departamentos</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="depMore50">+50 Departamentos</mat-checkbox></p>
      </div>
      <div class="col-4">
        <h6>Gama</h6>
        <p><mat-checkbox [(ngModel)]="gAlta">Gama Alta</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="gBaja">Gama Baja</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="gMedia">Gama Media</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="premium">Premium</mat-checkbox></p>
      </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <h6>Estado de la obra</h6>
      <p><mat-checkbox [(ngModel)]="cerramiento">Cerramiento</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="cimiento">Cimiento</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="construccion">Construcción</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="mamposteria">Mampostería</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="noIniciada">No Iniciada</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="remodelacion">Remodelación</mat-checkbox></p>
    </div>
    <div class="col-4">
      <h6>Tipo de ambiente</h6>
      <p><mat-checkbox [(ngModel)]="cocinas">Cocinas</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="estar">Estar</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="lavadero">Lavadero</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="placares">Placares</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="vanitory">Vanitory</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="vestidor">Vestidor</mat-checkbox></p>
    </div>
    <div class="col-4">
      <h6>Material</h6>
      <p><mat-checkbox [(ngModel)]="madera">Madera</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="melamina">Melamina</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="polimero">Polimero</mat-checkbox></p>
      <p><mat-checkbox [(ngModel)]="vidrio">Vidrio</mat-checkbox></p>
    </div>
  </div>

  <div class="row mt-4">
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Notas" #notes></textarea>
      </mat-form-field>
  </div>

  <div class="row mt-4 mb-4">
      <button class="send-button" [disabled]="writing" mat-raised-button color="primary" (click)="send();">
        <mat-spinner *ngIf="writing" diameter="30" style="margin:0 auto;"></mat-spinner>
        <span *ngIf="!writing">Enviar</span>
      </button>
  </div>
</div>

<div *ngIf="!login">
      <mat-spinner style="margin:10px auto;"></mat-spinner>
      <div *ngIf="alert != ''" class="alert alert-danger" role="alert">{{alert}}</div>
</div>

<div *ngIf="success">
    <div class="alert alert-success" role="alert">Carga Inicial enviada con Éxito</div>

    <div style="margin:0 auto;text-align:center;">
      <button mat-raised-button color="primary" (click)="reload();">Crear otra Carga Inicial</button>
    </div>
</div>