<div class="container" *ngIf="login">
  <mat-toolbar color="primary" class="mb-4">
      <mat-toolbar-row>
        <span>Carga Inicial</span>
      </mat-toolbar-row>
  </mat-toolbar>

  <div class="row">
    <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select required>
          <mat-option value="opportunity">Oportunidad</mat-option>
          <mat-option value="lead">Prospecto</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Vendedor" [value]="vendedor" required>
    </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Equipo de Ventas</mat-label>
          <mat-select required>
            <mat-option *ngFor="let equipo of equipos" [value]="equipo.value">
              {{equipo.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Grupo</mat-label>
          <mat-select required>
            <mat-option *ngFor="let grupo of grupos" [value]="grupo.value">
              {{grupo.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre de la Oportunidad" value="" required>
    </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Campaña</mat-label>
          <mat-select required>
            <mat-option *ngFor="let campana of campanas" [value]="campana.value">
              {{campana.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Medio</mat-label>
          <mat-select required>
            <mat-option *ngFor="let medio of medios" [value]="medio.value">
              {{medio.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Origen</mat-label>
          <mat-select required>
            <mat-option *ngFor="let origen of origenes" [value]="origen.value">
              {{origen.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <input matInput placeholder="Nombre del Contacto" value="" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Email" value="" required>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <input matInput placeholder="Celular" value="" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Teléfono" value="" required>
      </mat-form-field>
  </div>

  <div class="row">
      <mat-form-field>
          <mat-label>Tipo de Oportunidad</mat-label>
          <mat-select required>
            <mat-option value="unifamiliar">Unifamiliar</mat-option>
            <mat-option value="multifamiliar">Multifamiliar</mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="row mt-4">
      <div class="col-4">
        <h6>Volumen de obra</h6>
        <p><mat-checkbox>-50 Departamentos</mat-checkbox></p>
        <p><mat-checkbox>+50 Departamentos</mat-checkbox></p>
      </div>
      <div class="col-4">
        <h6>Gama</h6>
        <p><mat-checkbox>Gama Alta</mat-checkbox></p>
        <p><mat-checkbox>Gama Baja</mat-checkbox></p>
        <p><mat-checkbox>Gama Media</mat-checkbox></p>
        <p><mat-checkbox>Premium</mat-checkbox></p>
      </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <h6>Estado de la obra</h6>
      <p><mat-checkbox>Cerramiento</mat-checkbox></p>
      <p><mat-checkbox>Cimiento</mat-checkbox></p>
      <p><mat-checkbox>Construcción</mat-checkbox></p>
      <p><mat-checkbox>Mampostería</mat-checkbox></p>
      <p><mat-checkbox>No Iniciada</mat-checkbox></p>
      <p><mat-checkbox>Remodelación</mat-checkbox></p>
    </div>
    <div class="col-4">
      <h6>Tipo de ambiente</h6>
      <p><mat-checkbox>Cocinas</mat-checkbox></p>
      <p><mat-checkbox>Estar</mat-checkbox></p>
      <p><mat-checkbox>Lavadero</mat-checkbox></p>
      <p><mat-checkbox>Placares</mat-checkbox></p>
      <p><mat-checkbox>Vanitory</mat-checkbox></p>
      <p><mat-checkbox>Vestidor</mat-checkbox></p>
    </div>
    <div class="col-4">
      <h6>Material</h6>
      <p><mat-checkbox>Madera</mat-checkbox></p>
      <p><mat-checkbox>Malemina</mat-checkbox></p>
      <p><mat-checkbox>Polimero</mat-checkbox></p>
      <p><mat-checkbox>Vidrio</mat-checkbox></p>
    </div>
  </div>

  <div class="row mt-4">
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Notas"></textarea>
      </mat-form-field>
  </div>

  <div class="row mt-4 mb-4">
      <button class="send-button" mat-raised-button color="primary">Enviar</button>
  </div>
</div>

<div *ngIf="!login">
      <mat-spinner style="margin:10px auto;"></mat-spinner>
      <div *ngIf="alert != ''" class="alert alert-danger" role="alert">{{alert}}</div>
</div>