p {
    margin-bottom:0 !important;
}
mat-form-field {
    margin: 0 10px;
}
.example-full-width {
    width: 100%;
}
.send-button {
    margin: 0 auto;
    font-size: 26px;
    padding: 10px 20px;
}
.container {
    background:#fff;
    box-shadow: 0 0 10px #222;
    margin:20px auto;
    padding:20px;
}